.textareaContainer{
    margin: auto;
    margin-top: 6%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 14vh;
    align-items: center;
}

textarea{
    width: 79%;
    resize: none;
    border-style: none;  
    background-color: transparent;
    border-bottom: 2px solid #E8E8E8;
    padding-bottom: 5px;
    height: 70%; 
}




textarea:focus
{
  outline: none;
  border-bottom: 2px solid #499DDB;
}
.composerEmoji{
    user-select: none;
    height: 30px;
    cursor: pointer;
}
.composerEmoji:hover{
    color: orchid; 
}

.picker{
    top: 25%;
    position: fixed;
    z-index:99999999;
    color: green;
}
.buttonSend{
    color: #499dd9;
    font-size: 17px;
    background: transparent;
    height: 30px;
    border: none;

}
.buttonSend:hover{
    color: #72a0c7;

}