.messageContainer{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;   
    padding-bottom: 35px;
}


.from{
    text-align: left;
    word-wrap: break-word;
    color: #3a6d99;
    font-weight: 700;
}
.time{
    width: 130px;
    text-align: right;
    float: right;
    font-size: 12px; 
}
.message{
    word-wrap: break-word;
}